<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/resources :: headTags}">
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('current')}"></nav>

    <div class="container mt-4">
        <div class="mb-3">
            <h1>I nostri veicoli</h1>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row mb-4 align-items-center">
            <div class="col d-flex justify-content-start">
                <a th:href="@{vehicles/create}" class="btn btn-outline-primary">Aggiungi un nuovo veicolo</a>
            </div>

            <div class="col d-flex justify-content-end">
            <form class="d-flex" role="search" method="GET" th:action="@{/vehicles}">
                <input class="form-control me-2" type="search" name="name" placeholder="Cerca il tuo veicolo" aria-label="Search" th:value="${brand}" />
                <button class="btn btn-outline-success" type="submit">Cerca</button>
            </form>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4">
            <div class="row row-cols-1 row-cols-md-3 g-4" th:if="${vehicles.size()>0}">
                <div class="col" th:each="vehicle : ${vehicles}">
                    <div class="card h-100">
                        <img th:src="${vehicle.photo}" class="card-img-top" alt="Foto vehicle">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${vehicle.brand} + ' ' +${vehicle.model}"></h5>
                            <h6 class="card-text" th:text="'Targa: ' + ${vehicle.plateNumber}"></h6>
                        </div>

                        <div class="card-footer text-center">
                            <div class="d-flex justify-content-center gap-2 my-2">
                                <a class="btn btn-outline-primary" th:href="@{vehicles/{id}(id=${vehicle.id})}" role="button">Dettaglio</a>

                                <a class="btn btn-outline-success" th:href="@{vehicles/edit/{id}(id=${vehicle.id})}" role="button">Modifica</a>

                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" th:attr="data-bs-target='#delete-modal-' + ${vehicle.id}">Elimina</button>
                            </div>

                            <!-- Modale -->
                        <div class="modal fade" th:id="'delete-modal-' + ${vehicle.id}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Conferma eliminazione</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
                                </div>
                                <div class="modal-body"
                                    th:text="'Sei sicuro di voler cancellare: ' + ${vehicle.brand} + ' ' + ${vehicle.model} + ' con ID: ' + ${vehicle.id} + '?'">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                    <form th:action="@{/vehicles/delete/{id}(id=${vehicle.id})}" method="post" class="d-inline">
                                    <input type="submit" class="btn btn-outline-danger" value="Cancella definitivamente">
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
            <div th:if="${vehicles.size() == 0}">
                <h2 class="text-danger mt-4" th:text="'Nessun veicolo trovato per' + ' ' + ${name} "></h2>
            </div>
    </div>
   

    <div th:replace="~{fragments/resources :: goBackButton}"></div>

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>